<div class="landing-background">
  <hgroup class="landing-hg">
    <h1 class="landing-title">Text OrgaNicer</h1>
    <p class="landing-desc">Bienvenido a <strong>Text OrgaNicer</strong>, aquí podrás gestionar tus textos en la nube, creando carpetas y las páginas que quieras dentro de ellas. Además, podrás compartirlas para colaborar con tus compañeros.</p>
  </hgroup>

  <div class="landing-form-div">

    <button class="login" (click)="login = true" class="landing-switch-button">Login</button>
    <button class="register" (click)="login = false" class="landing-switch-button">Registrarse</button>

    <!-- #### LOGIN #### -->
    <form *ngIf="login" class="landing-form">
      <input type="email" placeholder="Ingresá tu email" class="landing-input">
      <input type="password" placeholder="Ingresá tu contraseña" class="landing-input">
      <button class="landing-button">Ingresar</button>
    </form>

    <!-- #### REGISTER #### -->
    <form *ngIf="!login" class="landing-form">
      <input type="username" placeholder="Ingresá tu username" class="landing-input">
      <input type="email" placeholder="Ingresá tu email" class="landing-input">
      <input type="password" placeholder="Ingresá tu contraseña" class="landing-input">
      <input type="password" placeholder="Ingresá tu contraseña nuevamente" class="landing-input">
      <button class="landing-button">Registrarse</button>
    </form>
  </div>
</div>
