<div class="folders-container">
  <div *ngFor="let folder of folders" class="folder">
    <div class="folder-data">
      <fa-icon [icon]="faElilipsisVertical"></fa-icon>
      <p class="folder-titulo">{{folder.titulo}}</p>
    </div>

    <div *ngFor="let page of pages" class="pages-container">
      <div *ngIf="folder.idFolder === page.idFolder" class="page-data">
        <fa-icon [icon]="faElilipsisVertical"></fa-icon>
        <p class="page-titulo">{{page.titulo}}</p>
      </div>
    </div>

  </div>

</div>
