<div class="folders-container">

  <p class="border-sub">Tus carpetas</p>
  <!-- ### FOLDERS ### -->
  <div *ngFor="let folder of folders" class="folder">
    <div>
    <div class="folder-data">
      <fa-icon [icon]="faElilipsisVertical" (click)="foldersService.toggleModalFolder(folder.id)" class="modal-icon px-2"></fa-icon>
      <p class="folder-titulo" (click)="foldersService.openFolder(folder.id)">{{folder.nombre}}</p>
    </div>

      <span *ngIf="foldersService.modalFolder === folder.id" class="modal-background">
        <fa-icon (click)="foldersService.toggleModalFolder(folder.id)" [icon]="faClose"
        class="pointer"></fa-icon>
        <div class="d-flex p-2 mt-2 pointer" (click)="deleteFolder(folder.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
          <p class="ms-2">Borrar carpeta</p>
        </div>
        <div class="d-flex p-2 pointer" (click)="cambiarNombreCarpeta(folder)">
          <fa-icon [icon]="faEdit"></fa-icon>
          <p class="ms-2">Cambiar nombre</p>
        </div>
        <div class="d-flex p-2 pointer" (click)="agregarColaborador(folder.id)">
          <fa-icon [icon]="faShare"></fa-icon>
          <p class="ms-2">Colaboradores</p>
        </div>
        <div class="d-flex p-2 pointer" (click)="cambiarVisibilidad(folder.id)" >
          <fa-icon [icon]="faLink"></fa-icon>
          <p class="ms-2">Compartir</p>
        </div>
        <div class="d-flex p-2 pointer" (click)="foldersService.descargarPDF(folder.id, folder.nombre)" >
          <fa-icon [icon]="faDownload"></fa-icon>
          <p class="ms-2">Descargar PDF</p>
        </div>
      </span>
    </div>


    <!-- ### PAGES ### -->
    <div *ngIf="foldersService.open === folder.id">
      <div *ngFor="let page of foldersService.pages" class="pages-container">
          <div>
            <div *ngIf="folder.id === page.id_folder" class="page-data">
              <fa-icon [icon]="faElilipsisVertical" (click)="foldersService.toggleModalPage(page.id)" class="px-2 modal-icon"></fa-icon>
              <p class="page-titulo" (click)="foldersService.selectPage(page.id)">{{ page.titulo }}</p>
            </div>

          <span *ngIf="foldersService.modalPage === page.id" class="modal-background">
            <fa-icon (click)="foldersService.toggleModalPage(page.id)" [icon]="faClose"
                 class="pointer"></fa-icon>
        <div class="d-flex p-2 mt-2 pointer" (click)="foldersService.borrarPagina(page.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
          <p class="ms-2">Borrar página</p>
        </div>
      </span>
        </div>
      </div>
      <div class="page-data ms-4" (click)="foldersService.newPage(folder.id)">
        <fa-icon [icon]="faPlus" class="modal-icon"></fa-icon>
        <i class="page-titulo">Nueva página</i>
      </div>
    </div>

  </div>
  <div class="ms-1">
    <div class="folder-data" (click)="newFolder()">
      <fa-icon [icon]="faPlus" class="modal-icon"></fa-icon>
      <i class="folder-titulo">Nueva carpeta</i>
    </div>
  </div>

</div>
