<div style="position: relative;">

<ng-image-slider
  [images]="image"
  [infinite]="true"
  [autoSlide]="5"
  [imageSize]="{width: '100%', height: '100%'}"
  [showArrow]="false"
  [animationSpeed]="3000"
  style="pointer-events: none; width: 100%; object-fit: contain;"
></ng-image-slider>
<div style="position: absolute; top: 20px;">

  <hgroup class="landing-hg">
    <h1 class="landing-title">Text Organicer</h1>
    <p
     *ngIf="description" class="landing-desc" id="detalles-landing">Bienvenido a <strong>Text OrgaNicer</strong>, aquí podrás gestionar tus textos en la nube, creando carpetas y las páginas que quieras dentro de ellas. Además, podrás compartirlas para colaborar con tus compañeros.</p>
  </hgroup>

  <div class="landing-form-div">

    <button class="login" (click)="login = true" class="landing-switch-button">Login</button>
    <button class="register" (click)="login = false" class="landing-switch-button">Registrarse</button>

   <div *ngIf="login">
    <app-login></app-login>
   </div>
    <div *ngIf="!login">
      <app-register></app-register>
    </div>
  </div>

</div>
</div>
