<div class="form-edit">

  <input
    type="text"
    class="titulo"
    [(ngModel)]="page.titulo"
    value={{page.titulo}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)">

  <textarea
    type="text"
    class="subtitulo"
    [(ngModel)]="page.subtitulo"
    value={{page.subtitulo}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)"></textarea>

  <input
    type="text"
    class="firma"
    [(ngModel)]="page.firma"
    value={{page.firma}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)">

  <textarea #contenidoArea
    id="textarea"
    class="contenido"
    [(ngModel)]="page.contenido"
    (input)="resizeTextarea($event.target)"
    value={{page.contenido}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)"></textarea>
</div>

