<div class="form-edit">

  <input
    type="text"
    class="titulo"
    [(ngModel)]="page.titulo"
    value={{page.titulo}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)">

  <textarea
    autoresize
    type="text"
    class="subtitulo"
    [(ngModel)]="page.subtitulo"
    value={{page.subtitulo}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)"></textarea>

  <input
    type="text"
    class="firma"
    [(ngModel)]="page.firma"
    value={{page.firma}}
    (keyup)="onChange($event)"
    (blur)="onChange($event)">

  <editor
    apiKey="{{tiny_api_key}}"
    autoresize
    id="textarea"
    class="contenido"
    [(ngModel)]="page.contenido"
    (keyup)="onChange($event)"
    (blur)="onChange($event)"></editor>
<!--    value={{page.contenido}}-->
</div>
