@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700;900&family=Unbounded:wght@200;400;700&display=swap');

:root {
  --fuenteTextos: 'Golos Text', sans-serif;
  --fuenteTitulos: 'Unbounded', cursive;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuenteTitulos)
}

/* ###### LANDING ####### */

.landing-background {
  background-image: url('../src/assets/guitarrista.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.landing-hg {
  padding: 2em;
  width: 50%;
  margin: auto;
  background-color: rgba(240, 248, 255, 0.6);
  border: 5px;
  text-align: center;
}

.landing-title {
  margin-bottom: 2vh;
  font-family: var(--fuenteTitulos);
}

.landing-form-div {
  text-align: center;
  margin: 4em auto;
  padding: 2em;
  background-color: rgba(240, 248, 255, 0.6);
  width: 50vw;
  border: 5px;
}

.landing-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-input {
  width: 30vw;
  padding: .5em;
  margin: .8em;
}

.landing-switch-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin: .8em;
  cursor: pointer;
}

.landing-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: .4em;
}

.landing-button:disabled {
  background-color: #d4d4d4;
}

/* ###### NAV ###### */

.user {
  margin-bottom: 4em;
}

aside {
  float: left;
  width: 20%;
  height: 100vh;
  background-color: antiquewhite;
  padding: 2em;
  position: fixed;
  box-shadow: -7px -1px 32px 0px rgba(0,0,0,0.61);
  -webkit-box-shadow: -7px -1px 32px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: -7px -1px 32px 0px rgba(0,0,0,0.61);
}

.folder {
  display: flex;
  flex-direction: column;
}

.folder-data {
  display: flex;
  margin-top: 1em;
  cursor: pointer;
}

.page-data {
  display: flex;
  margin: 0 1em;
  cursor: pointer;
}
.folder-titulo, .page-titulo {
  margin-left: 8px;
}

.page-titulo {
  font-family: var(--fuenteTextos);
}

.modal-background {
  position: absolute;
  margin-top: -2em;
  margin-left: 1em;
  padding: 1em;
  background-color: var(--blanco);
  box-shadow: -7px -1px 32px 0px rgba(0,0,0,0.61);
  -webkit-box-shadow: -7px -1px 32px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: -7px -1px 32px 0px rgba(0,0,0,0.61);
}

/*///////////////////////*/
/* ##### PAGE EDIT ##### */
/*///////////////////////*/
.titulo, .subtitulo, .firma, .contenido {
  border: none;
  margin: 8px;
  outline: none;
}

.titulo {
  font-size: 64px;
}

.subtitulo {
  margin-left: 8px;
  font-size: 32px;
  resize: none;
}

.firma {
  margin-top: 1em;
  text-align: right;
  font-size: 24px;
  font-style: italic;
}

.contenido {
  margin-top: 2em;
  margin-left: 16px;
  font-size: 20px;
  height: 120vh;
  resize: none;
  overflow: hidden;
  min-height: 50px;
}

.form-edit {
  width: 80%;
  margin-left: 20%;
  padding: 2em 8em;
  display: flex;
  flex-direction: column;
}

.input-folder {
  width: 80%;
}


/* #### GENERALES #### */
.pointer {
  cursor: pointer;
}

